{
    "$schema": "http://json.schemastore.org/prettierrc",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.{wxml,html}",
            "options": {
                "parser": "angular",
                "htmlWhitespaceSensitivity": "ignore"
            }
        },
        {
            "files": "*.wxss",
            "options": { "parser": "css" }
        },
        {
            "files": "*.{jsonc,cjson}",
            "options": { "parser": "json" }
        },
        {
            "files": "*.{wxs,js}",
            "options": { "parser": "flow" }
        }
    ]
}
