/*
* import 导入 scss 文件，
* 编译时会自动合并
*/
// @import "var"; // 导入 var.scss

/*
* import `~` 开头导入npm包中的样式,
* 支持直接包名和路径到指定文件
*/
// @import "~weui"; // 导入 weui的 npm 包,编译时会自动合并

/*
* import `wxss` 结尾的本地文件，表示使用 小程序的 import
* 编译时会进行保留, 通常用于仅在特定页面/组件直接共享样式
*/
// @import url("/style/common.wxss"); // 编译之后不便

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    padding: 200rpx 0;
}

progress {
    color: red;
}

.circle {
    /*
    * 可直接使用 url() 本地资源文件
    * 打包之后会对图片进行无损压缩和inline处理
    */
    background-image: url("./assets/icon/test.svg");
}
